# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Test / coverage
htmlcov/
.tox/
.nox/
coverage.*
.cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Log files
*.log

# Local environment config
.env
*.env

# exported diagrams
/diagrams/exported/
